Repository rosariodavidefurnari/gestionale-rosario: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(cantiere): record Vercel production verification
  docs/CANTIERE.md
Due: prettier --write

docs(spec): design Fatture view (BR1) - read-only financial documents list/detail + AI-aware
  docs/superpowers/specs/2026-06-16-fatture-view-design.md
Due: prettier --write

docs(cantiere): align continuity to current state (TASK4/5 live, BR1 active, assessment + QW1 alarm)
  docs/CANTIERE.md
Due: prettier --write

docs(spec): Fatture view v2 - incorporate external review (summary direction-aware + full filtered set, year date-range, controparte); reject /fatture path alias (route=resource name)
  docs/superpowers/specs/2026-06-16-fatture-view-design.md
Due: prettier --write

docs(spec): fix markdownlint (ul-style, line-length) in Fatture spec
  docs/superpowers/specs/2026-06-16-fatture-view-design.md
Due: prettier --write

docs(spec): shorten Stato line (markdownlint line-length)
  docs/superpowers/specs/2026-06-16-fatture-view-design.md
Due: prettier --write

docs(plan): Fatture view (BR1) implementation plan (read-only resource + summary + AI, TDD tasks)
  docs/superpowers/plans/2026-06-16-fatture-view.md
Due: prettier --write

docs(plan): Fatture view plan v2 - incorporate multi-surface review (AI type+prompt+EF deploy, continuity gate, summary/filter coherence, deterministic E2E)
  docs/superpowers/plans/2026-06-16-fatture-view.md
Due: prettier --write

feat(invoices): pure helpers (labels, signedTotal, direction-aware summary) + tests
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoices/financialDocumentHelpers.test.ts
  src/components/atomic-crm/invoices/financialDocumentHelpers.ts
Due: eslint --fix, prettier --write

feat(invoices): add INVOICE_COLUMNS definition
  docs/development-continuity-map.md
  src/components/atomic-crm/misc/columnDefinitions.ts
Due: eslint --fix, prettier --write

feat(invoices): read-only list content (desktop table + mobile card) + filters
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoices/FinancialDocumentListContent.tsx
  src/components/atomic-crm/invoices/FinancialDocumentListFilter.tsx
Due: eslint --fix, prettier --write

feat(invoices): direction-aware summary header on full filtered set
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoices/FinancialDocumentSummaryHeader.tsx
Due: eslint --fix, prettier --write

feat(invoices): list wrapper, read-only show, index
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoices/FinancialDocumentList.tsx
  src/components/atomic-crm/invoices/FinancialDocumentShow.tsx
  src/components/atomic-crm/invoices/index.tsx
Due: eslint --fix, prettier --write

feat(invoices): register Fatture resource + nav + AI capability
  docs/development-continuity-map.md
  src/components/atomic-crm/root/moduleRegistry.ts
Due: eslint --fix, prettier --write

test(invoices): update moduleRegistry expectations for Fatture resource
  src/components/atomic-crm/root/moduleRegistry.test.ts
Due: eslint --fix

feat(ai): expose financial documents (fatture) in unified AI read context
  docs/architecture.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/providers/supabase/dataProviderAi.ts
  src/lib/ai/unifiedCrmReadContext.test.ts
  src/lib/ai/unifiedCrmReadContext.ts
  src/lib/ai/unifiedCrmReadContextTypes.ts
  supabase/functions/unified_crm_answer/prompt.ts
Due: eslint --fix, prettier --write

docs(cantiere): BR1 execution state - Tasks 1-8 done locally (green), E2E+review+deploy pending
  docs/CANTIERE.md
Due: prettier --write

test(invoices): e2e smoke for Fatture view + deterministic financial_documents fixtures
  tests/e2e/invoices.smoke.spec.ts
  tests/e2e/support/test-data-controller.ts
Due: eslint --fix

fix(invoices): deterministic type filter + multicurrency summary
  docs/development-continuity-map.md
  src/components/atomic-crm/invoices/FinancialDocumentListFilter.tsx
  src/components/atomic-crm/invoices/FinancialDocumentShow.tsx
  src/components/atomic-crm/invoices/FinancialDocumentSummaryHeader.tsx
  src/components/atomic-crm/invoices/financialDocumentHelpers.test.ts
  src/components/atomic-crm/invoices/financialDocumentHelpers.ts
Due: eslint --fix, prettier --write

test(invoices): e2e read-only guard + orphan fixture hardening
  src/components/atomic-crm/root/moduleRegistry.test.ts
  tests/e2e/invoices.smoke.spec.ts
  tests/e2e/support/test-data-controller.ts
Due: eslint --fix

docs: gestionale assessment (prioritized backlog from multi-surface audit)
  docs/superpowers/2026-06-15-gestionale-assessment.md
Due: prettier --write

docs(cantiere): BR1 Fatture shipped (EF deployed + AI smoke ok + merged, Vercel 200); next = assessment backlog (QW1 urgent)
  docs/CANTIERE.md
Due: prettier --write

docs(spec): QW1 fiscal reminder cron auth fix (cron service_role vs EF JWKS -> 401); RAG+prod verified
  docs/superpowers/specs/2026-06-16-fiscal-reminder-cron-auth-design.md
Due: prettier --write

docs(spec): QW1 v2 - review BLOCK fixes (Vault NOT stale per md5; dedicated CRON_SHARED_SECRET not service_role; empty-env guard; notify idempotency; dedup 4 tasks)
  docs/superpowers/specs/2026-06-16-fiscal-reminder-cron-auth-design.md
Due: prettier --write

docs(plan): QW1 fiscal reminder cron auth - local-first, CRON_SHARED_SECRET, notify idempotency, gated prod
  docs/superpowers/plans/2026-06-16-fiscal-reminder-cron-auth.md
Due: prettier --write

feat(fiscal): cron-shared-secret auth + idempotent reminders for fiscal_deadline_check
  docs/architecture.md
  docs/development-continuity-map.md
  supabase/functions/_shared/cronAuth.test.ts
  supabase/functions/_shared/cronAuth.ts
  supabase/functions/fiscal_deadline_check/index.ts
  supabase/migrations/20260616182600_fiscal_reminder_notifications.sql
  supabase/migrations/20260616182718_fiscal_deadline_cron_shared_secret.sql
  supabase/seed.sql
Due: eslint --fix, prettier --write

test(fiscal): cover isCronAuthorized + clarify 30/06 deadline (no weekend shift)
  docs/development-continuity-map.md
  supabase/functions/.env.example
  supabase/functions/_shared/cronAuth.test.ts
Due: eslint --fix, prettier --write

docs: QW1 fiscal reminder cron auth shipped (CANTIERE + learning WF-16)
  .claude/rules/learning.md
  docs/CANTIERE.md
Due: prettier --write

docs(spec): Emetti fattura (invoice_emit) design — surface map + RAG verified
  docs/superpowers/specs/2026-06-16-invoice-emit-design.md
Due: prettier --write

docs(spec): invoice_emit v2 — close BLOCK from multi-surface review
  docs/superpowers/specs/2026-06-16-invoice-emit-design.md
Due: prettier --write

docs(plan): invoice_emit implementation plan (v1 scoping, TDD RED/GREEN)
  docs/superpowers/plans/2026-06-16-invoice-emit.md
Due: prettier --write

docs(plan): invoice_emit v2 — close BLOCK from plan review
  docs/superpowers/plans/2026-06-16-invoice-emit.md
Due: prettier --write

feat(invoicing): invoice_emit foundation — types, migration, pure helpers
  docs/architecture.md
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.ts
  src/components/atomic-crm/invoicing/invoiceBillingValidation.test.ts
  src/components/atomic-crm/invoicing/invoiceBillingValidation.ts
  src/components/atomic-crm/invoicing/invoiceDraftTypes.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftTypes.ts
  src/components/atomic-crm/types.ts
  supabase/functions/_shared/db.ts
  supabase/migrations/20260616200000_payments_financial_document_link.sql
Due: eslint --fix, prettier --write

feat(invoicing): decideEmittedPaymentReconciliation pure fn (anti double-count)
  docs/development-continuity-map.md
  supabase/functions/_shared/invoiceImportConfirm.test.ts
  supabase/functions/_shared/invoiceImportConfirm.ts
Due: eslint --fix, prettier --write

feat(invoicing): invoice_emit edge function (transactional, idempotent)
  docs/development-continuity-map.md
  supabase/config.toml
  supabase/functions/_shared/invoiceEmit.test.ts
  supabase/functions/_shared/invoiceEmit.ts
  supabase/functions/invoice_emit/index.ts
Due: eslint --fix, prettier --write

feat(invoicing): emitInvoice provider + import update-in-place (anti double-count)
  docs/data-import-analysis.md
  docs/development-continuity-map.md
  docs/historical-analytics-handoff.md
  registry.json
  src/components/atomic-crm/providers/supabase/dataProvider.ts
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceEmit.test.ts
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceEmit.ts
  supabase/functions/invoice_import_confirm/index.ts
Due: eslint --fix, prettier --write

feat(invoicing): "Emetti e scarica XML" action in invoice draft dialog
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoicing/InvoiceDraftDialog.tsx
  src/components/atomic-crm/invoicing/useEmitInvoice.test.ts
  src/components/atomic-crm/invoicing/useEmitInvoice.ts
Due: eslint --fix, prettier --write

feat(invoicing): collection-state badge on financial document detail
  docs/development-continuity-map.md
  src/components/atomic-crm/invoices/FinancialDocumentShow.tsx
  src/components/atomic-crm/invoices/financialDocumentHelpers.test.ts
  src/components/atomic-crm/invoices/financialDocumentHelpers.ts
Due: eslint --fix, prettier --write

docs(semantics): align AI registries with invoice_emit + import reconciliation
  docs/architecture.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  src/lib/semantics/crmCapabilityRegistry.ts
  src/lib/semantics/crmSemanticRegistry.ts
Due: eslint --fix, prettier --write

fix(invoicing): close impl-review BLOCK — status-agnostic reconciliation + guards
  docs/data-import-analysis.md
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/invoicing/useEmitInvoice.test.ts
  src/components/atomic-crm/invoicing/useEmitInvoice.ts
  supabase/functions/_shared/invoiceImportConfirm.test.ts
  supabase/functions/_shared/invoiceImportConfirm.ts
  supabase/functions/invoice_emit/index.ts
  supabase/functions/invoice_import_confirm/index.ts
  supabase/functions/invoice_import_extract/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --write: any of: *.{json,css,md,html}
