Repository rosariodavidefurnari/gestionale-rosario: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,ts,tsx}": ["eslint --fix"],
  "*.{json,css,md,html}": ["prettier --write"]
}

fix(fiscal): EF reminder matches the deadline card — real prior advances + cash imposta (DOM-5)
  .claude/rules/learning.md
  docs/CANTIERE.md
  docs/historical-analytics-handoff.md
  docs/superpowers/plans/2026-06-20-ef-reminder-fiscal-parity.md
  docs/superpowers/specs/2026-06-20-ef-reminder-fiscal-parity-design.md
  package.json
  scripts/prod-smoke-ef-reminder-parity.ts
  src/components/atomic-crm/dashboard/fiscalParity.test.ts
  supabase/functions/_shared/fiscalDeadlineCalculation.test.ts
  supabase/functions/_shared/fiscalDeadlineCalculation.ts
  supabase/functions/_shared/inpsContributionsPaid.test.ts
  supabase/functions/_shared/inpsContributionsPaid.ts
  supabase/functions/fiscal_deadline_check/index.ts
Due: eslint --fix, prettier --write

fix(fiscal): selected-year imposta cassa gates on the DEPOSITED declaration, not obligation count (DOM-4)
  .claude/rules/learning.md
  docs/CANTIERE.md
  docs/historical-analytics-handoff.md
  docs/superpowers/plans/2026-06-20-selected-year-cassa-gate.md
  docs/superpowers/specs/2026-06-20-selected-year-cassa-gate-design.md
  registry.json
  src/components/atomic-crm/dashboard/selectedYearContributiVersatiCassa.test.ts
  src/components/atomic-crm/dashboard/selectedYearContributiVersatiCassa.ts
  src/components/atomic-crm/dashboard/useDashboardData.ts
Due: eslint --fix, prettier --write

fix(payments): backfill financial_document_id for 25 historical received payments (BR2)
  .claude/rules/learning.md
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/historical-analytics-handoff.md
  docs/superpowers/plans/2026-06-20-br2-payments-financial-documents-reconciliation.md
  docs/superpowers/specs/2026-06-20-br2-payments-financial-documents-reconciliation-design.md
  scripts/br2-link-payments-financial-documents.sql
  scripts/br2LinkDecider.test.ts
  scripts/br2LinkDecider.ts
  scripts/check-prod-financial-health.mjs
  src/components/atomic-crm/invoices/invoiceVoidRules.test.ts
Due: eslint --fix, prettier --write

feat(dashboard): cash vs invoice-date competence reconciliation card (read-only)
  .claude/rules/learning.md
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/historical-analytics-handoff.md
  docs/superpowers/plans/2026-06-20-cash-vs-invoice-competence-reconciliation.md
  docs/superpowers/specs/2026-06-20-cash-vs-invoice-competence-reconciliation-design.md
  package.json
  registry.json
  scripts/prod-smoke-cash-vs-competence.ts
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardCashVsCompetenceCard.tsx
  src/components/atomic-crm/dashboard/MobileDashboard.parity.test.tsx
  src/components/atomic-crm/dashboard/MobileDashboard.tsx
  src/components/atomic-crm/dashboard/cashVsCompetenceReconciliation.test.ts
  src/components/atomic-crm/dashboard/cashVsCompetenceReconciliation.ts
  src/components/atomic-crm/dashboard/fiscalModel.ts
  src/components/atomic-crm/dashboard/useDashboardData.ts
Due: eslint --fix, prettier --write

docs(cantiere): mark cash-vs-competence card SHIPPED & LIVE (d1210726, CI green, Vercel 200)
  docs/CANTIERE.md
Due: prettier --write

feat(invoices): collection-state badge in the Fatture list (desktop + mobile)
  .claude/rules/learning.md
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/superpowers/specs/2026-06-20-fatture-list-collection-badge-design.md
  docs/superpowers/specs/2026-06-20-missing-invoices-backfill-design.md
  src/components/atomic-crm/invoices/FinancialDocumentListContent.test.tsx
  src/components/atomic-crm/invoices/FinancialDocumentListContent.tsx
  src/components/atomic-crm/invoices/FinancialDocumentShow.tsx
  src/components/atomic-crm/invoices/financialDocumentHelpers.test.ts
  src/components/atomic-crm/invoices/financialDocumentHelpers.ts
  src/components/atomic-crm/misc/columnDefinitions.test.ts
  src/components/atomic-crm/misc/columnDefinitions.ts
  tests/e2e/invoices.smoke.spec.ts
Due: eslint --fix, prettier --write

docs(cantiere): mark Task 7b collection badge SHIPPED & LIVE (f7fade2f, CI green, Vercel 200)
  docs/CANTIERE.md
Due: prettier --write

docs(governance): fix RAG infra drift + wire doc-drift gate
  .claude/rules/learning.md
  .claude/settings.json
  .github/workflows/check.yml
  .husky/pre-commit
  AGENTS.md
  CLAUDE.md
  docs/CANTIERE.md
  docs/architecture.md
  docs/superpowers/specs/2026-06-20-fatture-list-collection-badge-design.md
  package.json
  scripts/doc-drift-test.py
Due: prettier --write

chore(hooks): fire local code-RAG refresh from husky post-commit/post-merge
  .husky/post-commit
  .husky/post-merge
Due: none

chore(rag): add prose-RAG corpus recipe for gestionale-rosario docs
  scripts/prose_rag_local.py
  scripts/reindex_prose_rag_local.sh
Due: none

docs(governance): fix stale "no prose index" claim in CANTIERE
  docs/CANTIERE.md
Due: prettier --write

chore(rag): enforce code corpus policy
  .contextignore
  AGENTS.md
  docs/CANTIERE.md
  package.json
  scripts/check-rag-corpus-policy.mjs
Due: eslint --fix, prettier --write

chore(vscode): set vitest root config
  .vscode/settings.json
Due: prettier --write

chore(governance): add CLI command registry
  .prettierignore
  docs/CANTIERE.md
  docs/README.md
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  package.json
  scripts/cli_inventory.py
Due: prettier --write

chore(governance): add variable registry
  .prettierignore
  docs/CANTIERE.md
  docs/README.md
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  package.json
  scripts/governance_inventory_test.py
  scripts/variable_inventory.py
Due: prettier --write

fix(governance): ignore inventory test fixtures
  scripts/variable_inventory.py
Due: none

chore(governance): add workflow registry
  .prettierignore
  docs/CANTIERE.md
  docs/README.md
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  docs/workflows/WORKFLOW_MAP.md
  docs/workflows/WORKFLOW_REGISTRY.json
  package.json
  scripts/cli_inventory.py
  scripts/governance_inventory_test.py
  scripts/variable_inventory.py
  scripts/workflow_inventory.py
Due: prettier --write

chore(governance): add artifact registry
  .husky/pre-commit
  .prettierignore
  docs/CANTIERE.md
  docs/README.md
  docs/artifacts/ARTIFACT_MAP.md
  docs/artifacts/ARTIFACT_REGISTRY.json
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  docs/workflows/WORKFLOW_MAP.md
  docs/workflows/WORKFLOW_REGISTRY.json
  package.json
  scripts/artifact_inventory.py
  scripts/cli_inventory.py
  scripts/governance_inventory_test.py
  scripts/governance_pre_commit.py
  scripts/workflow_inventory.py
Due: prettier --write

docs(governance): clarify registry usage contract
  AGENTS.md
  docs/CANTIERE.md
  docs/README.md
Due: prettier --write

docs(governance): add markdownlint triage report
  docs/CANTIERE.md
  docs/README.md
  docs/artifacts/ARTIFACT_MAP.md
  docs/artifacts/ARTIFACT_REGISTRY.json
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  docs/doc-quality/MARKDOWNLINT_TRIAGE.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  docs/workflows/WORKFLOW_MAP.md
  docs/workflows/WORKFLOW_REGISTRY.json
  package.json
  scripts/artifact_inventory.py
  scripts/cli_inventory.py
  scripts/markdownlint_triage.py
  scripts/workflow_inventory.py
Due: prettier --write

docs(governance): clear markdownlint problem findings
  .claude/rules/session-workflow.md
  .markdownlint.json
  AGENTS.md
  CLAUDE.md
  docs/README.md
  docs/ai-visual-blocks-pattern.md
  docs/architecture.md
  docs/artifacts/ARTIFACT_MAP.md
  docs/artifacts/ARTIFACT_REGISTRY.json
  docs/data-import-analysis.md
  docs/design-fase2.md
  docs/development-continuity-map.md
  docs/doc-quality/MARKDOWNLINT_TRIAGE.md
  docs/superpowers/plans/2026-04-14-quick-episode-description-and-datetime.md
  docs/superpowers/plans/2026-06-20-cash-vs-invoice-competence-reconciliation.md
  docs/superpowers/specs/2026-04-01-single-source-of-truth-financials-design.md
  docs/superpowers/specs/2026-04-14-quick-episode-description-and-datetime-design.md
  docs/superpowers/specs/2026-06-19-fiscal-estimate-calibration-design.md
  docs/superpowers/specs/2026-06-20-fatture-list-collection-badge-design.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  docs/workflows/WORKFLOW_MAP.md
  docs/workflows/WORKFLOW_REGISTRY.json
  scripts/artifact_inventory.py
  scripts/markdownlint_triage.py
  scripts/variable_inventory.py
  scripts/workflow_inventory.py
Due: prettier --write

feat: backfill missing laurus invoice documents
  docs/superpowers/plans/2026-06-22-missing-laurus-invoices-backfill.md
  docs/superpowers/specs/2026-06-20-missing-invoices-backfill-design.md
  scripts/backfill-missing-laurus-invoices.sql
  scripts/backfillMissingInvoicesDecider.test.ts
  scripts/backfillMissingInvoicesDecider.ts
Due: eslint --fix, prettier --write

feat: add live gustare billing profiles backend
  docs/CANTIERE.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-client-billing-profiles-backend.md
  docs/superpowers/plans/2026-06-22-live-gustare-billing-profiles-end-to-end.md
  docs/superpowers/specs/2026-06-22-client-billing-profiles-design.md
  scripts/backfill-2026-invoices-with-billing-profiles.sql
  scripts/check-prod-financial-health.mjs
  src/components/atomic-crm/types.ts
  supabase/migrations/20260622200209_client_billing_profiles.sql
  supabase/seed_domain_data.sql
Due: eslint --fix, prettier --write

docs: add impeccable product context
  PRODUCT.md
Due: prettier --write

docs: plan billing profile application integration
  docs/CANTIERE.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  docs/superpowers/specs/2026-06-22-billing-profiles-application-integration-design.md
Due: prettier --write

feat: add invoice billing recipient adapter
  docs/CANTIERE.md
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/invoicing/invoiceBillingRecipient.test.ts
  src/components/atomic-crm/invoicing/invoiceBillingRecipient.ts
  src/components/atomic-crm/invoicing/invoiceDraftTypes.ts
Due: eslint --fix, prettier --write

feat: render invoice drafts with billing recipients
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  src/components/atomic-crm/invoicing/invoiceBillingValidation.test.ts
  src/components/atomic-crm/invoicing/invoiceBillingValidation.ts
  src/components/atomic-crm/invoicing/invoiceDraftPdf.tsx
  src/components/atomic-crm/invoicing/invoiceDraftXml.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.ts
Due: eslint --fix, prettier --write

feat: persist billing profile on invoice emit
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  src/components/atomic-crm/invoicing/useEmitInvoice.test.ts
  src/components/atomic-crm/invoicing/useEmitInvoice.ts
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceEmit.test.ts
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceEmit.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/invoiceEmit.test.ts
  supabase/functions/_shared/invoiceEmit.ts
Due: eslint --fix, prettier --write

feat: select billing recipient in invoice draft
  docs/CANTIERE.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  src/components/atomic-crm/invoicing/InvoiceDraftDialog.tsx
Due: eslint --fix, prettier --write

feat: manage client billing profiles
  docs/CANTIERE.md
  docs/architecture.md
  docs/contacts-client-project-architecture.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  registry.json
  src/components/atomic-crm/clients/ClientBillingProfileInputs.tsx
  src/components/atomic-crm/clients/ClientBillingProfilesSection.tsx
  src/components/atomic-crm/clients/ClientShow.tsx
Due: eslint --fix, prettier --write

feat: show fiscal recipient on invoices
  docs/CANTIERE.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  src/components/atomic-crm/invoices/FinancialDocumentListContent.test.tsx
  src/components/atomic-crm/invoices/FinancialDocumentListContent.tsx
  src/components/atomic-crm/invoices/FinancialDocumentShow.tsx
  src/components/atomic-crm/invoices/financialDocumentHelpers.ts
Due: eslint --fix, prettier --write

feat: match invoice imports to billing profiles
  docs/CANTIERE.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  src/components/atomic-crm/ai/InvoiceImportDraftBillingSection.tsx
  src/components/atomic-crm/ai/InvoiceImportDraftEditor.tsx
  src/components/atomic-crm/ai/UnifiedAiLauncher.test.tsx
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceImport.test.ts
  src/components/atomic-crm/providers/supabase/dataProviderInvoiceImport.ts
  src/lib/ai/invoiceImport.test.ts
  src/lib/ai/invoiceImport.ts
  src/lib/ai/invoiceImportProvider.ts
  supabase/functions/_shared/db.ts
  supabase/functions/_shared/invoiceImportConfirm.test.ts
  supabase/functions/_shared/invoiceImportConfirm.ts
  supabase/functions/invoice_import_confirm/index.ts
Due: eslint --fix, prettier --write

fix: add invoice draft recovery links
  docs/CANTIERE.md
  docs/architecture.md
  docs/contacts-client-project-architecture.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  playwright.config.ts
  src/components/atomic-crm/clients/ClientShow.tsx
  src/components/atomic-crm/invoicing/InvoiceDraftDialog.test.tsx
  src/components/atomic-crm/invoicing/InvoiceDraftDialog.tsx
  src/components/atomic-crm/layout/Header.tsx
  src/components/atomic-crm/projects/ProjectShow.tsx
  src/components/atomic-crm/quotes/QuoteShow.tsx
  src/components/atomic-crm/services/ServiceShow.tsx
Due: eslint --fix, prettier --write

docs: record billing profile edge deploy
  docs/CANTIERE.md
  docs/superpowers/plans/2026-06-22-billing-profiles-application-integration.md
Due: prettier --write

docs: plan uncollectible receivables
  docs/CANTIERE.md
  docs/superpowers/plans/2026-06-22-uncollectible-receivables.md
  docs/superpowers/specs/2026-06-22-uncollectible-receivables-design.md
Due: prettier --write

chore: ignore python cache artifacts
  .gitignore
  docs/artifacts/ARTIFACT_MAP.md
  docs/artifacts/ARTIFACT_REGISTRY.json
  scripts/artifact_inventory.py
Due: prettier --write

feat: add uncollectible receivable status
  docs/CANTIERE.md
  docs/architecture.md
  docs/cli/COMMAND_MAP.md
  docs/cli/COMMAND_REGISTRY.json
  docs/development-continuity-map.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  docs/variables/VARIABLE_MAP.md
  docs/variables/VARIABLE_REGISTRY.json
  docs/workflows/WORKFLOW_MAP.md
  docs/workflows/WORKFLOW_REGISTRY.json
  makefile
  package.json
  scripts/check-prod-financial-health.mjs
  scripts/check-uncollectible-receivables.sql
  scripts/cli_inventory.py
  scripts/workflow_inventory.py
  src/components/atomic-crm/clients/__tests__/ClientFinancialSummary.test.tsx
  src/components/atomic-crm/payments/paymentTypes.test.ts
  src/components/atomic-crm/payments/paymentTypes.ts
  src/components/atomic-crm/types.ts
  src/lib/ai/__tests__/unifiedCrmFinancialSummaries.test.ts
  src/lib/ai/unifiedCrmFinancialSummaries.ts
  src/lib/ai/unifiedCrmReadContext.test.ts
  supabase/migrations/20260622223000_uncollectible_payment_status.sql
  supabase/seed_domain_data.sql
Due: eslint --fix, prettier --write

feat: propagate written-off receivables
  docs/CANTIERE.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/dashboard/DashboardDeadlineTracker.test.ts
  src/components/atomic-crm/dashboard/DashboardDeadlineTracker.tsx
  src/components/atomic-crm/dashboard/dashboardAnnualModel.test.ts
  src/components/atomic-crm/dashboard/dashboardDeadlineTrackerModel.ts
  src/components/atomic-crm/dashboard/dashboardModel.ts
  src/components/atomic-crm/invoices/invoiceVoidRules.test.ts
  src/components/atomic-crm/invoices/invoiceVoidRules.ts
  src/components/atomic-crm/payments/PaymentInputs.tsx
  src/components/atomic-crm/payments/PaymentListContent.tsx
  src/components/atomic-crm/payments/PaymentOverdueBadge.test.tsx
  src/components/atomic-crm/payments/PaymentOverdueBadge.tsx
  src/components/atomic-crm/payments/PaymentShow.tsx
  src/components/atomic-crm/payments/paymentTypes.test.ts
  src/components/atomic-crm/payments/paymentTypes.ts
  src/components/atomic-crm/projects/quickPaymentReconciliation.test.ts
  src/components/atomic-crm/quotes/QuotePaymentsSection.test.tsx
  src/components/atomic-crm/quotes/QuotePaymentsSection.tsx
  src/components/atomic-crm/quotes/quotePaymentsSummary.test.ts
  src/components/atomic-crm/quotes/quotePaymentsSummary.ts
  src/lib/ai/unifiedCrmReadContext.test.ts
  src/lib/ai/unifiedCrmReadContext.ts
  supabase/functions/_shared/invoiceImportConfirm.test.ts
  supabase/functions/_shared/invoiceImportConfirm.ts
  supabase/functions/_shared/invoiceVoid.test.ts
  supabase/functions/_shared/invoiceVoid.ts
  supabase/functions/invoice_import_confirm/index.ts
  tests/e2e/uncollectible-receivables-ui.smoke.spec.ts
Due: eslint --fix, prettier --write

docs: record uncollectible receivable rollout
  docs/CANTIERE.md
Due: prettier --write

docs: close uncollectible receivable rollout
  docs/CANTIERE.md
Due: prettier --write
