Repository rosariodavidefurnari/gestionale-rosario: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: align project maps with runtime reality
  AGENTS.md
  CLAUDE.md
  Gestionale_Rosario_Furnari_Specifica.md
  docs/README.md
  docs/architecture.md
  docs/data-import-analysis.md
  docs/development-continuity-map.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  scripts/check-continuity.mjs
  src/components/atomic-crm/layout/MobileNavigation.tsx
  src/components/atomic-crm/root/CRM.tsx
Due: eslint --fix, prettier --write

docs: align AI continuity registry with contacts model
  docs/historical-analytics-handoff.md
  src/lib/semantics/crmCapabilityRegistry.ts
Due: eslint --fix, prettier --write

docs: clarify agent and product AI boundaries
  AGENTS.md
  docs/README.md
  docs/architecture.md
Due: prettier --write

docs: refresh reference spec against current runtime
  Gestionale_Rosario_Furnari_Specifica.md
Due: prettier --write

docs: streamline historical archive usage
  .claude/rules/session-workflow.md
  learnings.md
  progress.md
Due: prettier --write

docs: tighten runtime notes for auth and tags
  Gestionale_Rosario_Furnari_Specifica.md
  docs/architecture.md
Due: prettier --write

docs: formalize fatture source of truth and fix checks
  Gestionale_Rosario_Furnari_Specifica.md
  docs/README.md
  docs/architecture.md
  docs/contacts-client-project-architecture.md
  docs/data-import-analysis.md
  docs/development-continuity-map.md
  src/components/atomic-crm/clients/clientLinking.ts
  src/components/atomic-crm/contacts/ClientContactsSection.tsx
  src/components/atomic-crm/contacts/ContactCreate.tsx
  src/components/atomic-crm/contacts/ContactList.tsx
  src/components/atomic-crm/contacts/ContactShow.tsx
  src/components/atomic-crm/contacts/ProjectContactsSection.tsx
  src/components/atomic-crm/contacts/contactRecord.ts
  src/components/atomic-crm/projects/QuickEpisodeForm.tsx
  src/lib/semantics/crmCapabilityRegistry.ts
  supabase/functions/_shared/invoiceImportConfirm.ts
  supabase/functions/invoice_import_confirm/index.ts
Due: eslint --fix, prettier --write

fix: resolve invoice imports through linked contacts
  docs/architecture.md
  docs/data-import-analysis.md
  src/components/atomic-crm/ai/UnifiedAiLauncher.test.tsx
  src/components/atomic-crm/providers/fakerest/dataProvider.ts
  src/components/atomic-crm/providers/supabase/dataProvider.ts
  src/lib/ai/invoiceImport.test.ts
  src/lib/ai/invoiceImport.ts
  src/lib/ai/invoiceImportProvider.ts
Due: eslint --fix, prettier --write

test: align client labels with gustare semantics
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/dashboard/DashboardHistoricalWidgets.test.tsx
  src/components/atomic-crm/quotes/quoteProjectLinking.test.ts
  supabase/functions/_shared/annualOperationsAiGuidance.test.ts
  supabase/functions/_shared/unifiedCrmAnswer.test.ts
Due: eslint --fix, prettier --write

feat: harden crm contacts semantics
  docs/architecture.md
  docs/contacts-client-project-architecture.md
  docs/development-continuity-map.md
  src/components/atomic-crm/ai/UnifiedCrmReadSnapshot.tsx
  src/components/atomic-crm/contacts/ClientContactsSection.tsx
  src/components/atomic-crm/contacts/ContactCreate.tsx
  src/components/atomic-crm/contacts/ContactInputs.tsx
  src/components/atomic-crm/contacts/ContactList.tsx
  src/components/atomic-crm/contacts/ContactShow.tsx
  src/components/atomic-crm/contacts/ProjectContactsSection.tsx
  src/components/atomic-crm/contacts/contactLinking.ts
  src/components/atomic-crm/contacts/contactRecord.test.ts
  src/components/atomic-crm/contacts/contactRecord.ts
  src/components/atomic-crm/root/i18nProvider.tsx
  src/components/atomic-crm/types.ts
  src/lib/ai/unifiedCrmReadContext.test.ts
  src/lib/ai/unifiedCrmReadContext.ts
  supabase/migrations/20260301234500_harden_contacts_roles_and_primary.sql
Due: eslint --fix, prettier --write

chore: retire demo workflow
  AGENTS.md
  README.md
  docs/README.md
  docs/contacts-client-project-architecture.md
  makefile
  package.json
Due: prettier --write

feat(fiscal): add fiscal reality layer (Phase 1) (#4)
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/historical-analytics-handoff.md
  registry.json
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardDeadlinesCard.tsx
  src/components/atomic-crm/dashboard/DashboardKpiCards.tsx
  src/components/atomic-crm/dashboard/DashboardNetAvailabilityCard.tsx
  src/components/atomic-crm/dashboard/DichiarazioneEntryDialog.tsx
  src/components/atomic-crm/dashboard/F24RegistrationDialog.tsx
  src/components/atomic-crm/dashboard/MobileDashboard.tsx
  src/components/atomic-crm/dashboard/ObligationEntryDialog.tsx
  src/components/atomic-crm/dashboard/buildFiscalDeadlineKey.test.ts
  src/components/atomic-crm/dashboard/buildFiscalDeadlineKey.ts
  src/components/atomic-crm/dashboard/buildFiscalRealityAwareSchedule.test.ts
  src/components/atomic-crm/dashboard/buildFiscalRealityAwareSchedule.ts
  src/components/atomic-crm/dashboard/buildObligationsFromDeclaration.test.ts
  src/components/atomic-crm/dashboard/buildObligationsFromDeclaration.ts
  src/components/atomic-crm/dashboard/fiscalRealityTypes.ts
  src/components/atomic-crm/dashboard/useFiscalReality.ts
  src/components/atomic-crm/providers/supabase/dataProvider.ts
  src/components/atomic-crm/providers/supabase/fiscalRealityProvider.ts
  supabase/migrations/20260402020254_fiscal_reality_layer.sql
Due: eslint --fix, prettier --write

feat(fiscal): integrate fiscal_deadline_check with real obligations (Phase 2)
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardDeadlinesCard.tsx
  supabase/functions/fiscal_deadline_check/index.ts
Due: eslint --fix, prettier --write

feat(fiscal): integrate fiscal_deadline_check with real obligations (Phase 2) (#6)
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardDeadlinesCard.tsx
  supabase/functions/fiscal_deadline_check/index.ts
Due: eslint --fix, prettier --write

Shift weekend fiscal deadlines to next business day
  .claude/rules/learning.md
  docs/architecture.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  src/components/atomic-crm/dashboard/buildObligationsFromDeclaration.test.ts
  src/components/atomic-crm/dashboard/buildObligationsFromDeclaration.ts
  src/components/atomic-crm/dashboard/fiscalDeadlines.ts
  src/components/atomic-crm/dashboard/fiscalModel.test.ts
  src/lib/dateTimezone.test.ts
  src/lib/dateTimezone.ts
  supabase/functions/_shared/dateTimezone.test.ts
  supabase/functions/_shared/dateTimezone.ts
  supabase/functions/_shared/fiscalDeadlineCalculation.test.ts
  supabase/functions/_shared/fiscalDeadlineCalculation.ts
Due: eslint --fix, prettier --write

fix(db): resolve Supabase linter security warnings (views + functions)
  docs/architecture.md
  supabase/migrations/20260413202155_fix_security_invoker_on_views.sql
  supabase/migrations/20260413202534_fix_function_search_path.sql
Due: prettier --write

fix(quick-episode): inherit client_id from project + dedup guard
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  src/components/atomic-crm/projects/QuickEpisodeDialog.tsx
  src/components/atomic-crm/projects/quickEpisodePersistence.test.ts
  src/components/atomic-crm/projects/quickEpisodePersistence.ts
  supabase/migrations/20260414162444_remove_quick_episode_duplicate_savoca_2026_04_11.sql
Due: eslint --fix, prettier --write

fix(calendar-sync): honor real service start/end times for timed events
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  supabase/functions/google_calendar_sync/index.ts
Due: eslint --fix, prettier --write

feat(quick-episode): add description, datetime range and all-day toggle
  docs/architecture.md
  docs/development-continuity-map.md
  docs/superpowers/plans/2026-04-14-quick-episode-description-and-datetime.md
  docs/superpowers/specs/2026-04-14-quick-episode-description-and-datetime-design.md
  src/components/atomic-crm/projects/QuickEpisodeDialog.tsx
  src/components/atomic-crm/projects/QuickEpisodeForm.tsx
  src/components/atomic-crm/projects/quickEpisodePersistence.test.ts
  src/components/atomic-crm/projects/quickEpisodePersistence.ts
Due: eslint --fix, prettier --write

chore(test): exclude .worktrees from vitest scan
  vitest.config.ts
Due: eslint --fix

chore(dx): add scoped Deno config for supabase/functions
  .claude/rules/learning.md
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  docs/architecture.md
  supabase/functions/deno.json
Due: prettier --write

feat(fiscal): reconcile fiscal_obligations against real AdE F24 quietanze
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/historical-analytics-backlog.md
  docs/historical-analytics-handoff.md
  scripts/fiscal-reconciliation-2026-04-14.sql
  src/components/atomic-crm/dashboard/F24RegistrationDialog.tsx
  src/components/atomic-crm/dashboard/ObligationEntryDialog.tsx
  src/components/atomic-crm/dashboard/buildFiscalRealityAwareSchedule.ts
  src/components/atomic-crm/dashboard/fiscalModelTypes.ts
  src/components/atomic-crm/dashboard/fiscalRealityTypes.ts
  src/components/atomic-crm/providers/supabase/fiscalRealityProvider.ts
  supabase/migrations/20260414211500_fiscal_interests_and_compensation.sql
Due: eslint --fix, prettier --write

chore(fiscal): recalc 2025-2026 projections on real 2024 baseline + CRM ratio
  scripts/fiscal-projections-2026-04-14.sql
Due: none

feat(dashboard): add real-data tax deadline card on accountant baseline
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardNextDeadlineCard.tsx
  src/components/atomic-crm/dashboard/MobileDashboard.tsx
  src/components/atomic-crm/dashboard/computeTaxSchedule.test.ts
  src/components/atomic-crm/dashboard/computeTaxSchedule.ts
  src/components/atomic-crm/providers/supabase/fiscalRealityProvider.ts
Due: eslint --fix, prettier --write

Revert "feat(dashboard): add real-data tax deadline card on accountant baseline"
  .claude/rules/learning.md
  docs/architecture.md
  docs/development-continuity-map.md
  registry.json
  src/components/atomic-crm/dashboard/DashboardAnnual.tsx
  src/components/atomic-crm/dashboard/DashboardNextDeadlineCard.tsx
  src/components/atomic-crm/dashboard/MobileDashboard.tsx
  src/components/atomic-crm/dashboard/computeTaxSchedule.test.ts
  src/components/atomic-crm/dashboard/computeTaxSchedule.ts
  src/components/atomic-crm/providers/supabase/fiscalRealityProvider.ts
Due: eslint --fix, prettier --write

docs(spec): brainstorm ClientShow invoice draft always-available button
  docs/superpowers/specs/2026-04-15-client-invoice-draft-always-available-design.md
Due: prettier --write

feat(clients): always-available invoice draft button with empty state
  docs/architecture.md
  docs/development-continuity-map.md
  src/components/atomic-crm/clients/ClientShow.tsx
  src/components/atomic-crm/invoicing/InvoiceDraftDialog.tsx
Due: eslint --fix, prettier --write

fix(invoicing): skip trigger-generated km expenses to stop double counting
  .claude/rules/learning.md
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.ts
Due: eslint --fix, prettier --write

fix(services): stop TravelEstimator from overwriting service.location
  .claude/rules/learning.md
  docs/development-continuity-map.md
  src/components/atomic-crm/services/ServiceInputs.tsx
Due: eslint --fix, prettier --write

fix FatturaPA XML: Latin-1 sanitize + km lines folded into services
  .claude/rules/learning.md
  .claude/scheduled_tasks.lock
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.ts
  src/components/atomic-crm/invoicing/invoiceDraftTypes.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.ts
Due: eslint --fix, prettier --write

fix(invoicing): correct ImponibileImporto and emit DatiBollo per FatturaPA XSD
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/invoiceDraftXml.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.ts
Due: eslint --fix, prettier --write

fix(invoicing): neutral wording for km annotation in merged XML lines
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/invoiceDraftXml.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.ts
Due: eslint --fix, prettier --write

fix(invoicing): cent-snap line items so sum(PrezzoTotale)==ImponibileImporto
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/invoiceDraftXml.test.ts
  src/components/atomic-crm/invoicing/invoiceDraftXml.ts
Due: eslint --fix, prettier --write

feat(invoicing): prefix service lines with project name in invoice draft
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromClient.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromProject.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.ts
Due: eslint --fix, prettier --write

fix(invoicing): deduplicate location when identical to service description
  docs/development-continuity-map.md
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.test.ts
  src/components/atomic-crm/invoicing/buildInvoiceDraftFromService.ts
Due: eslint --fix, prettier --write

docs: require code-only DeepWiki usage
  AGENTS.md
Due: prettier --write

Harden fiscal backup RLS and reconcile migrations
  AGENTS.md
  docs/CANTIERE.md
  docs/README.md
  docs/architecture.md
  docs/development-continuity-map.md
  docs/gestionale-roadmap-generale.md
  docs/superpowers/plans/2026-06-14-fiscal-backup-rls-hardening.md
  docs/superpowers/plans/2026-06-14-migration-history-reconciliation.md
  docs/superpowers/specs/2026-06-14-fiscal-backup-rls-hardening-design.md
  docs/superpowers/specs/2026-06-14-migration-history-reconciliation-design.md
  package.json
  scripts/check-fiscal-backup-rest-anon.mjs
  scripts/check-fiscal-backup-rls.sql
  supabase/migrations/20260414192200_fiscal_interests_and_compensation.sql
  supabase/migrations/20260614150557_harden_fiscal_backup_rls.sql
Due: eslint --fix, prettier --write

feat(db): protect fiscal history from cascade deletes (TASK 4)
  .claude/rules/learning.md
  .claude/settings.json
  docs/CANTIERE.md
  docs/architecture.md
  docs/contacts-client-project-architecture.md
  docs/development-continuity-map.md
  docs/gestionale-roadmap-generale.md
  docs/superpowers/plans/2026-06-14-fiscal-cascade-protection.md
  docs/superpowers/specs/2026-06-14-fiscal-cascade-protection-design.md
  package.json
  registry.json
  scripts/check-cascade-protection.sql
  src/components/admin/delete-button.tsx
  src/components/atomic-crm/clients/ClientShow.tsx
  src/components/atomic-crm/misc/blockedDeleteOnError.test.ts
  src/components/atomic-crm/misc/blockedDeleteOnError.ts
  src/components/atomic-crm/projects/ProjectShow.tsx
  supabase/migrations/20260614185413_harden_cascade_protection_fiscal.sql
  tests/e2e/clients.complete.spec.ts
  tests/e2e/projects.complete.spec.ts
Due: eslint --fix, prettier --write

docs(cantiere): record TASK 4 remote apply + GREEN; UX pending main merge
  docs/CANTIERE.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,ts,tsx}
  prettier --write: any of: *.{json,css,md,html}
